<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Football Data UI</title>

    <!-- Bootstrap -->
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="mainApp" ng-controller="Controller" ng-init="listOfLeagues()">
  <br>
  <div align="center">
  
	 <button ng-repeat="x in leagues" ng-click="leagueTable(x)">{{x.caption}}</button>
	<br>
	<!--
   <button ng-click="leagueTable('ENGLAND')"> England </button>
   <button ng-click="leagueTable('GERMANY')"> Germany </button>
   <button ng-click="leagueTable('FRANCE')"> France </button>
   <button ng-click="leagueTable('SPAIN')"> Spain </button>
   <button ng-click="leagueTable('ITALY')"> Italy</button>
   -->
   </div>
   <br><br>
   <table border="1"  align="center">
   <tr><td> position </td><td> team </td><td> played games </td><td> points </td><td> goals </td><td> goals against </td><td> goal difference </td><td> wins </td><td> draws </td><td> losses </td>
   <td width="30"> home </td><td> goals </td><td> goals against </td><td> wins </td><td> draws </td><td>losses</td><td width="30"> away </td><td> goals </td><td> goals against </td><td> wins </td><td> draws </td><td>losses</td></tr>
	<tr ng-repeat="x in teams">
	<td >{{x.position}}</td>
	<td>{{x.teamName}}</td>
	<td>{{x.playedGames}}</td>
	<td> {{x.points}}</td>
	<td>{{x.goals}}</td>
	<td>{{x.goalsAgainst}}</td>
	<td>{{x.goalDifference}}</td>
	<td>{{x.wins}}</td>
	<td>{{x.draws}}</td>
	<td>{{x.losses}}</td>
	<td></td>
	<td>{{x.home.goals}}</td>
	<td>{{x.home.goalsAgainst}}</td>
	<td>{{x.home.wins}}</td>
	<td>{{x.home.draws}}</td>
	<td>{{x.home.losses}}</td>
	<td></td>
	<td>{{x.away.goals}}</td>
	<td>{{x.away.goalsAgainst}}</td>
	<td>{{x.away.wins}}</td>
	<td>{{x.away.draws}}</td>
	<td>{{x.away.losses}}</td>
	</tr>
	</table>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="Controller.js"></script>
  </body>
</html>