<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-bordered table-hover table-striped text-center">
    <tr>
        <th> DATE </th>
        <th> MATCHDAY</th>
        <th> HOME TEAM NAME </th>
        <th> AWAY TEAM NAME </th>
        <th> ODDS </th>
        <th> HOME WIN </th>
        <th> DRAW </th>
        <th> AWAY WIN</th>
    </tr>
    <tr>
        <td>{{group.date}}</td>
        <td>{{group.matchday}}</td>
        <td>{{group.homeTeamName}}</td>
        <td>{{group.awayTeamName}}</td>
        <td></td>
        <td>{{group.odds.homeWin}}</td>
        <td>{{group.odds.draw}}</td>
        <td>{{group.odds.awayWin}}</td>
    </tr>
</table>
</body>
</html>