<table class="table table-bordered table-hover table-striped text-center"
       ng-if="teams.length > 0 && !group_competition">
    <tr>
        <th> POSITION</th>
        <th> TEAM</th>
        <th> PLAYED GAMES</th>
        <th> POINTS</th>
        <th> GOALS</th>
        <th> GOALS AGAINST</th>
        <th> GOAL DIFFERENCE</th>
        <th> WINS</th>
        <th> DRAWS</th>
        <th> LOSSES</th>
        <th> HOME</th>
        <th> GOALS</th>
        <th> GOALS AGAINST</th>
        <th> WINS</th>
        <th> DRAWS</th>
        <th> LOSSES</th>
        <th> AWAY</th>
        <th> GOALS</th>
        <th> GOALS AGAINST</th>
        <th> WINS</th>
        <th> DRAWS</th>
        <th> LOSSES</th>
    </tr>
    <tr ng-repeat="x in teams">
        <td>{{x.position}}.</td>
        <td>{{x.teamName}}</td>
        <td>{{x.playedGames}}</td>
        <td> {{x.points}}</td>
        <td>{{x.goals}}</td>
        <td>{{x.position}}.</td>
        <td>{{x.teamName}}</td>
        <td>{{x.playedGames}}</td>
        <td> {{x.points}}</td>
        <td>{{x.goals}}</td>
        <td>{{x.goalsAgainst}}</td>
        <td>{{x.goalDifference}}</td>
        <td>{{x.wins}}</td>
        <td>{{x.draws}}</td>
        <td>{{x.losses}}</td>
        <td></td>
        <td>{{x.home.goals}}</td>
        <td>{{x.home.goalsAgainst}}</td>
        <td>{{x.home.wins}}</td>
        <td>{{x.home.draws}}</td>
        <td>{{x.home.losses}}</td>
        <td></td>
        <td>{{x.away.goals}}</td>
        <td>{{x.away.goalsAgainst}}</td>
        <td>{{x.away.wins}}</td>
        <td>{{x.away.draws}}</td>
        <td>{{x.away.losses}}</td>
    </tr>
</table>
